/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 #content {
   background-color: #E3F6CE;
   width: 100%;
   heigth: 700px;
   text-aling: center;
   padding: 10px;
 }

#h1 {
  font-size: 60px;
  margin:50px 0 10px;
  text-align: center;
}
#h2 {
  font-size 35px;
  margin: 10px 0 10px;
  text-align: center;
  font-family:'Courier New' , Courier, monospace;
}
#button {
  background-color: #F78181;
  border: none;
  color: black;
  padding: 15px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#h2:after{
  content: 'I';
  margin-letf: 5px;
  opacity: 1;
  animation: pisca.7s infinite;
}
@keyframes pisca{
  0% 100%{
      opacity: 1;
  }
  50% {
    opacity:0;
  }
}